---
---

@import "{{ site.theme }}";

body {
  background-color: #222222;
  color: #cecece;
}

h1, h2, h3, h4, strong { 
  color: #cecece;
}

.language-plaintext {
  color: #f4db77;
}

a:hover, a:focus {
  color: #f6d654;
  font-weight: normal;
}

a {
  color: #f4db77;
  text-decoration: underline;
}